
<% if @posts.any? %>
	<% @posts.each do |post| %>
		<%= post.title %>
		<% if post.picture1.present? %>
			<%= image_tag post.picture1.url, class: 'first_upload' %>
		<% end %>
		<% if post.picture2.present? %>
			<%= image_tag post.picture2.url, class: 'second_upload' %>
		<% end %>
	<% end %>
<% else %>
	<p>No doppelgrammers yet...</p>
<% end %>

<%=link_to 'Add a post', new_post_path %>