<section id='posts-container'>
<% if @posts.any? %>
	<ul>
	<%=render @posts.sort_by { |post| post.count_netvotes }.reverse %>
	</ul>
<% else %>
	<p>No doppelgrammers yet...</p>
<% end %>
</section>
<%=link_to 'Add a post', new_post_path %>